@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  color: #eceded;
}

html {
  background: url(assets/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 44px;
  font-weight: 800;
}

.mask {
  height: 100vh;
  width: 100vw;
  background-color: rgba(21, 23, 25, .9);
}

.App {
  width: 50vw;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-input {
  padding: 12px 18px;
  height: 62px;
  font-size: 20px;
  font-weight: 400;
  color: #151719;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.form-submit {
  cursor: pointer;
  margin-top: 45px;
  height: 62px;
  font-size: 26px;
  font-weight: 800;
  background-color: #5658dd;
  padding: 10px 45px;
  box-shadow: none;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 1000px) {
  .App {
    width: 85vw;
  }
}
